

$font-family: Arial, sans-serif;
$background-color: #f4f4f4;
$primary-color: #3f51b5;
$submit-button-color: rgb(22, 43, 226);
$delete-button-color: rgb(196, 24, 12);
$edit-button-color: rgb(68, 9, 231);
$edit-button-hover-color: rgb(135, 98, 236);
$delete-button-hover-color:rgb(236, 98, 132);
$submit-button-hover-color: rgb(120, 131, 230);
$heading-font:20px;
$border:2px solid rgb(250, 215, 215);
$border-radius:20px;

